.containerAll {

    margin-top: 3em;
    margin-bottom: 3em;
    display: flex;
    justify-content: center;

}

.formStyle {

    box-shadow: 0px 0px 4px 0px black;
    padding: 20px;
    border-radius: 10px;

}

.titleContainer {

    display: flex;
    justify-content: center;
    margin-bottom: 1em;

}

.titleStyle {

    font-weight: 900;
    color: #fe6a16;

}

button {

    background-color: red;
    transition: 0s;
}

button:hover {

   background-color:  rgb(172, 4, 4);

}

input {

    border: 1px solid black;
    border-radius: 10px;
}

input:active, input:focus {

    border: 1px solid transparent;
    box-shadow: 0px 0px 4px 0px black;

}

.containerAlertAll {

    display: flex;
    justify-content: center;

}

.okAlert {

    display: none;

}